<!DOCTYPE html>
<html>
  <head>
    <title>Cool Burgers</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/menu.js" type="text/javascript"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/js/js_script.js" type="text/javascript" defer></script>
    <!script src="/js/vue_script.js" type="text/javascript"><!/script>
  </head>
  <body>
    <main>
      <h1 id="headline" class="header">Welcome to Cool Burgers</h1>
      <img id="headerimg" class="header" src="/img/header-image-1-2.png">
      <section id="selection">
        <h2>Select Burger</h2>
        <p>This is where you execute burger selection</p>

        <div id="wrapper">
 
        </div>
        
      </section>
      
      <section id="contact">
        <h2>Customer information</h2>
        <p>
          This is where you provide necessary information
        </p>
        <h3>Delivery Information:</h3>
        <form>
          <p>
            <label for="name">Full Name</label><br>
            <input type="text" id="name" name="name" required="required" placeholder="Full name">
          </p>
          <p>
            <label for="adress">Home Adress</label><br>
            <input type="text" id="adress" name="adress" placeholder="Street name & number">
          </p>
          <p>
            <label for="email">Email-Adress</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
          </p>

          <p>
            <label for="payopt">Payment Options</label><br>
            <select id="payopt" name="rcp">
              <option>Visa</option>
              <option>Mastercard</option>
              <option>Paypal</option>
              <option>Bitcoin</option>
            </select>
          </p>
          <h3>Your Gender:</h3>
          <p>
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender"><br>
            <label for="female">Female</label>
            <input type="radio" id="female" name="gender"><br>
            <label for="other">Do not wish to provide</label>
            <input type="radio" id="other" name="gender" checked><br>
          </p>
          <button type="submit">Place Order</button>
        </form>
      </section>
    </main>
  </body>
</html>
